body {
  /* background-color: rgba(57, 79, 244, 0.9); */
  /* background-color: #55003B ;
  #FFE1C8
  #150A41 */
  margin-top: 150px;
  background-color: #82aae6;
  color: #140a41;
  font-family: 'Raleway', sans-serif;
}

.friends {
  text-align: center;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
  font-family: 'Raleway', sans-serif;
}
nav {
  background-color: #140a41;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
}
nav ul {

  /* z-index: 10; */
  /* made them go horizontal  */
  display: flex;
  /* centered list items on the vertical axis  */
  /* margin-right: 50px; */
}

li {
  align-items: center;
  margin-top: 10px;
  margin-right: 20px;
  font-size: 25px;
}

i {
  color: white;
  /* font-size: 30px; */
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 1000px;
  text-align: center;
  font-size: 50px;

}

.skill-container {
  height: 300px;
  width: 200px;
  margin-right: 50px;
  text-align: center;
}

input::placeholder {
  color: hsl(300deg 100% 50%);
}