:root {
  /* --background: hsla(252, 92%, 24%, 0.815); */
  --background: hsla(254, 19%, 14%, 0.815);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #e7e7e7;
  /* color: #140a41; */
  color: black;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

header {
  background-color: var(--background);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

/* changed this from the tutorial video to
   allow it to gain focus, making it tabbable */
.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, 0.75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: #e7e7e7;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background-color: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: #e7e7e7;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #c8a8a8;
}

.logo {
  /* margin-left: 50px; */
  /* text-align: left; */
  color: #e7e7e7;
}
.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  nav {
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1, 1);
    background: none;
    top: initial;
    left: initial;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::after {
    content: "";
    display: block;
    height: 5px;
    background: #c8a8a8;
    position: absolute;
    top: 1.5em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::after {
    transform: scale(1, 1);
  }
}

section {
  width: 66%;
  margin: 0 auto;
  min-width: 320px;
  margin-left: 50px;
}

h1 {
  font-size: ;
}

h2 {
  color: var(--background);
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 25px;
}

h3 {
  font-size: 1.25em;
  margin-top: 0;
  margin-bottom: 0;
  /* font-weight: bold; */
}

p {
  color: var(--background);
}

/* @media (max-width: 790px) {
  #name h1 {
    /* transform: rotate(30deg); */
/* margin-top: 0px;
    opacity: 0;
    animation: fade 2s linear 1 forwards;
  } */

/* #name-title {
    opacity: 0;
    animation: fade;
  } */

/* @keyframes fade {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  } */
/* }  */

/* @media (max-width: 789px) { */
/* #name h1 {
    margin-top: 0px;
    opacity: 1; */
/* animation: fade; */
/* }
  #name-title {
    opacity: 1;
  } */
/* } */

.about-container {
  display: flex;
  flex-wrap: wrap;
}

.about-photo {
  /* margin-top: 5em; */
  /* width: 25%; */
  min-width: 250px;
}

/* .about-description {
  width: 60%;
  min-width: 300px;
} */

.name {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-top: 150px;
}

.name img {
  width: 200px;
  border-radius: 100%;
}

.name h1 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 0px;
  min-width: 400px;
}

.name p {
  color: black;
  font-size: 2rem;
  margin-top: 0px;
}

.about p {
  font-size: 1.2em;
  font-weight: bold;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  /* margin: 0 auto; */
  margin-top: 40px;
  min-width: 350px;
  max-width: 600px;
  text-align: center;
}

.skill-container {
  height: 110px;
  width: 90px;
  /* margin-right: 15px; */
  text-align: center;
}

.skill-container p {
  text-align: center;
}

.skill-container i {
  color: rgb(238, 232, 227);
  color: hsla(249, 11%, 13%, 0.815);
  /* changes size of icons and labels */
  font-size: 2.5em;
}

i {
  /* margin-right: 15px; */
}

/* #df-homepage {
  height: 75%;
  width: 75%;
  border-radius: 2%;
} */

h4 {
  font-size: 1.6em;
}

.project-description {
  font-size: 1.2em;
  font-weight: bold;
}

.project-meta {
  font-weight: 1.4em;
  font-weight: bold;
}
.project-images-container {
  display: flex;
  flex-wrap: wrap;
}

.project-image-container {
  /* width: 300px; */
  /* height: 300px; */
  margin-left: 20px;
}

.project-images {
  height: 400px;
  /* width: 10%; */

  border-radius: 10px;
  /* this keeps the picture from being distorted */
  object-fit: cover;
}
.project-icons {
  /* color: hsla(249, 11%, 13%, 0.815); */
  /* font-size: 5em; */
  /* margin-top: 100px; */
  /* margin: 0px;
  margin-left: 0; */
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  margin-left: 20px;
}
.repo-button {
  /* background-color: hsla(252, 74%, 15%, 0.815); */
  background-color: var(--background);
  font-size: 1.5em;
  padding: 10px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  color: rgb(238, 232, 227);
  margin-left: 20px;
}

.deployed-button {
  background-color: indianred;
  font-size: 1.5em;
  padding: 10px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  color: black;
}

.journey-div {
  font-size: 1.2em;
  font-weight: bold;
}

.email {
  text-align: center;
  font-size: 1.6em;
  margin-bottom: 20px;
}

.contact {
  width: 100%;
  text-align: center;
  margin-left: 0px;
}

.connect-icons {
  font-size: 2.5em;
  margin-bottom: 2.5em;
}
.courses {
  margin-left: 50px;
}

.connect a {
  font-size: 1.5em;
}
a {
  text-decoration: none;
  color: inherit;
}

input::placeholder {
  color: hsl(300, 79%, 33%);
}
